  <ion-view title="Info-développeur">
    <ion-content>
      <h3>Information sur les développeurs</h3>
      <hr>
      <div class="list card">

        <a href="#/tab/anthony" class="item item-icon-left">
          <i class="icon ion-ios-person"></i>
          @Antony
        </a>

        <a href="#/tab/brudel" class="item item-icon-left">
          <i class="icon ion-ios-person"></i>
          @Brudel
        </a>

        <a href="#/tab/clement" class="item item-icon-left">
          <i class="icon ion-ios-person"></i>
          @Clement
        </a>

        <a href="#/tab/servino" class="item item-icon-left">
          <i class="icon ion-ios-person"></i>
          @Servino
        </a>

      </div>

    </ion-content>

  </ion-view>


  <script id="templates/brudel.html" type="text/ng-template">
    <ion-view title="Info-développeur-Brudel">
      <ion-content>
        <h3>Information sur les développeurs</h3>
        <hr>

        <div class="list card">

          <div class="item item-avatar">
            <img src="img/brudel.jpg">
            <h2>Brudel NGOUBILI</h2>
            <p>iTechsup - 2016</p>
          </div>

          <div class="item item-body">
            <img class="full-image" src="img/itechsup.jpg">
            <p>
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
              Maecenas porttitor congue massa.Fusce posuere,
              magna sed pulvinar ultricies, purus lectus malesuada libero,
              sit amet commodo magna eros quis urna.
            </p>

          </div>

        </div>


      </ion-content>


    </ion-view>
  </script>

<script id="templates/clement.html" type="text/ng-template">
    <ion-view title="Info-développeur-Anthony">
      <ion-content>
        <h3>Information sur les développeurs</h3>
        <hr>

        <div class="list card">

          <div class="item item-avatar">
            <img src="img/clement.jpg">
            <h2>Clement FRICAUD</h2>
            <p>iTechsup - 2016</p>
          </div>

          <div class="item item-body">
            <img class="full-image" src="img/itechsup.jpg">
            <p>
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
              Maecenas porttitor congue massa.Fusce posuere,
              magna sed pulvinar ultricies, purus lectus malesuada libero,
              sit amet commodo magna eros quis urna.
            </p>

          </div>

        </div>


      </ion-content>


    </ion-view>
  </script>


  <script id="templates/anthony.html" type="text/ng-template">
    <ion-view title="Info-développeur-Anthony">
      <ion-content>
        <h3>Information sur les développeurs</h3>
        <hr>

        <div class="list card">

          <div class="item item-avatar">
            <img src="img/anthony.jpg">
            <h2>Anthony Archambeau</h2>
            <p>iTechsup - 2016</p>
          </div>

          <div class="item item-body">
            <img class="full-image" src="img/itechsup.jpg">
            <p>
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
              Maecenas porttitor congue massa.Fusce posuere,
              magna sed pulvinar ultricies, purus lectus malesuada libero,
              sit amet commodo magna eros quis urna.
            </p>

          </div>

        </div>


      </ion-content>


    </ion-view>
  </script>

  <script id="templates/servino.html" type="text/ng-template">
    <ion-view title="Info-développeur-Servino">
      <ion-content>
        <h3>Information sur les développeurs</h3>
        <hr>

        <div class="list card">

          <div class="item item-avatar">
            <img src="img/servino.png">
            <h2>Servino Claude</h2>
            <p>iTechsup - 2016</p>
          </div>

          <div class="item item-body">
            <img class="full-image" src="img/itechsup.jpg">
            <p>
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
              Maecenas porttitor congue massa.Fusce posuere,
              magna sed pulvinar ultricies, purus lectus malesuada libero,
              sit amet commodo magna eros quis urna.
            </p>

          </div>

        </div>


      </ion-content>


    </ion-view>
  </script>


