 <ion-view view-title="Paramètre">
    <ion-content class="padding">
      <h3>Paramètres</h3>
      <hr>
      <!--p><img src="http://ionicframework.com/img/diagrams/tabs-nav-stack.png" style="width:100%"></p-->

      niveau  de la batterie : {{batteryLevel}} %
      <progress id="avancement" value={{batteryLevel}} max="100">{{batteryLevel}}%</progress>

       Passer en mode nuit
      <label class="toggle toggle-assertive">
        <input type="checkbox" onclick="parametersCtrl()">
        <div class="track">
          <div class="handle"></div>
        </div>
      </label>

    </ion-content>
  </ion-view>
