
<ion-view title="à propos de guild wars">
  <ion-content>
    <h3>Guil wars</h3>
    <hr>
    <div class="text-center ">

    <p>Une application hybride développée en utilisant Ionic se décompose de la façon illustrée dans l'image ci-dessus.</p>
    <h4>Conception des interfaces</h4>
    <p>Pour concevoir vos interfaces, vous allez utiliser les langages web que sont HTML5, CSS3 et JavaScript auxquels vous allez associer le framework Ionic, qui pourrait être décrit comme une sorte de Twitter Bootstrap. Je vous expliquerais pourquoi dans un des prochains chapitres.</p>
    <h4>Gestion de la logique et des données</h4>
    <p>La gestion de la logique et des données est assurée par le framework Angular (aussi connu sous le nom de AngularJS). Ce framework d'applications web fournit aux développeurs une bonne structure d'application et la possibilité d'écrire des applications complètes rapidement.</p>
    <h4>Génération des plateformes cibles</h4>
    <p>Dans ce cours, nous utiliserons Apache Cordova pour générer les applications hybrides. Celui-ci gère la communication entre le navigateur et les API natives. Le noyau de Cordova fournit beaucoup de fonctionnalités comme l'accès au GPS, à la caméra ou encore aux informations du device.</p>


    </div>
    <a class="button icon icon-right ion-chevron-right" href="#/tab/information">retour information</a>
  </ion-content>


</ion-view>
