<ion-view view-title="GW2 APPOLON">
  <ion-content class="padding">

    <div class="list card">

      <div class="item item-avatar">
        <img src="http://loremflickr.com/320/240/">
        <h2>Nom carte </h2>
        <p>Région</p>
      </div>

      <div class="item item-body">

        <div class="row">
          <div class="col">Niveau minimum : </div> <div class="col">{{generalPlayerInfo.wins}}</div>
        </div>

        <div class="row">
          <div class="col">Niveau max : </div> <div class="col">{{generalPlayerInfo.wins}}</div>
        </div>

      </div>

    </div>

  </ion-content>
</ion-view>
