
<ion-tabs class="tabs-icon-top tabs-positive " id="tabsbar">

  <ion-tab title="Ma position" icon="icon ion-location" href="#/tab/google-map">
    <ion-nav-view name="google-map-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Guild war" icon="icon ion-android-map" href="#/tab/guild-war">
    <ion-nav-view name="guild-war-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Parametre" icon="ion-gear-a" href="#/tab/parametre">
    <ion-nav-view name="parametre-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Information" icon="ion-ios-information" href="#/tab/information" ">
  <ion-nav-view name="info-tab"></ion-nav-view>
  </ion-tab>

</ion-tabs>
